@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Listar Pessoas", "Index", "People")</li>
        </ul>
    </div>
</div>